<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/fotodeperfil.png" class="rounded-float-start" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="nombre">Valdez Guadalupe</h3>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercademi">ACERCA DE MI</h1>
            <p id="p_acercademi">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, nulla molestias officia fugit in sed sequi exercitationem dicta ducimus blanditiis quod est sapiente dignissimos officiis suscipit maxime optio hic voluptate.</p>
        </span>
    </div>
</div>