
<div class="row">
    <h1>HARD AND SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showSubtitle]="false"
        [showUnits]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#5B2C6F'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showSubtitle]="false"
        [showUnits]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#5B2C6F'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showSubtitle]="false"
        [showUnits]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#5B2C6F'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showSubtitle]="false"
        [showUnits]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#5B2C6F'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showSubtitle]="false"
        [showUnits]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#5B2C6F'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showSubtitle]="false"
            [showUnits]="true"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#5B2C6F'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>